.container{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto, sans-serif";
}

.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: #EFDFBB;
}

.timer{
    font-size: 72px;
    color: #EFDFBB;
}

button{

    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}

button:hover{
    opacity: .7;
}

#start{
    background-color: #27ae60;
}

#stop{
    background-color: #c0392b;
}

#reset{
    background-color: #7f8c8d;
}

#settime{
    background-color: #4682B4;
}

body {
    background-color: #722F37;
}

